<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InsultU</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <a href=""><img src="../static/img/Logo.gif" alt="couldn't load the image"/></a>
    </header>
    <div class="heading">
      <h2>Feeling Motivated?</h2>
      <h4>Let's walk you down your darkest alleys</h4>
    </div>
    <div class="inp-name">
      <input type="text" placeholder="Enter your name" id="namei" />
      <button type="submit" id="butti" onclick="ButtClicked()">GO</button>
    </div>
    <div class="main-container" id="mcont">
      <p id="show"></p>
      <div class="gifDiv"><img id="laughGif" src="../static/img/El_Risitas_Laugh.gif" alt="" style="width: 240px;" class = 'laughGif-not-triggered'></div>
      <audio id="laugh">
        <source src="../static/img/El Risitas Laugh.mp3" type="audio/ogg">
      </audio>
      <div id="sound_settings">
        <!-- <label>
          <span>Voice</span>
          <select id="voiceOptions"></select>
        </label> -->
        <label id="volumeChange">
          <button class="vbtn" id="vBtn"><img src="../static/img/unmute.png" alt="" style="width : 17px;display: initial;" class="unmute"><img src="../static/img/mute.png" alt="" style="width : 17px; display: none;" class="mute"></button>
          <input class="slider" type="range" id="volumeSlider" min = "0" max = "1" value = "0.5" step = "0.1" onchange="volchange()">
        </label>
      </div>
      <div id="buttons">
        <button id="moreins">Get more insults</button>
        <button id="clr">Clear</button>
      </div>
    </div>

    <script src="../static/js/web.js"></script>
  </body>
</html>
