* {
    font-family: 'Baloo Bhaina 2', cursive;
}

body {
    background: linear-gradient(#161616,
            rgb(43 43 43),
            rgb(47 47 47),
            rgb(53 53 53),
            rgb(66 66 66),
            rgb(80 80 80),
            rgb(101 101 101)) no-repeat center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    color: white;
}

.heading h4 {
    margin: 0px 0px;
    text-shadow:5px 5px 8px #58d2ff;
    transition: all 0.5s;
}

.heading h2 {
    margin: 0px 0px;
    text-shadow:5px 5px 8px #58d2ff;
    transition: all 0.5s;
}

.inp-name {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-container {
    width: 50vw;
    height: 30vh;
    border: 2px solid linen;
    border-radius: 13px;
    margin: 27px auto;
    padding: 69px 52px;
    min-width: fit-content;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-container-neon {
    animation: animate 1s linear forwards;
    transition: all 1s;
}

@keyframes animate {
    0% {
        border-top-color: #58d2ff;
        box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    }

    25% {
        border-right-color: #58d2ff;
        box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    }

    50% {
        border-bottom-color: #58d2ff;
        box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    }

    97% {
        border-left-color: #58d2ff;
        box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
        transition: all 1s;
    }

    100% {
        border-color: white;
        transition: all 1s;
    }
}

.main-container-clear {
    animation: animate2 1s linear forwards;
    transition: all 1s;
}

@keyframes animate2 {
    0% {
        border-color: #c73b3b;
        box-shadow: 0 0 0 3px rgb(169 38 38 / 25%);
    }

    25% {
        border-color: #c73b3b;
        box-shadow: 0 0 0 3px rgb(169 38 38 / 25%);
    }

    50% {
        border-color: #c73b3b;
        box-shadow: 0 0 0 3px rgb(169 38 38 / 25%);
    }

    97% {
        border-color: #c73b3b;
        box-shadow: 0 0 0 3px rgb(169 38 38 / 25%);
        transition: all 1s;
    }

    100% {
        border-color: white;
        transition: all 1s;
    }
}

#namei {
    background: transparent;
    border: 1px solid linen;
    border-radius: 4px;
    padding: 6px 16px;
    color: white;
    transition: all 0.5s;
}

#namei:hover {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}

#namei:focus {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}

#namei:active {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}

#butti {
    background: transparent;
    border: 1px solid linen;
    border-radius: 4px;
    padding: 6px 16px;
    color: grey;
    transition: all 0.5s;
}

#butti:hover {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    cursor: pointer;
    transition: all 0.5s;
}





#show {
    font-size: 19px;
    height: fit-content;
    margin: auto;
}

#buttons {
    display: flex;
    justify-content: center;
    display: none;
}

#moreins {
    background-color: transparent;
    color: grey;
    border: 1px solid linen;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    transition: all 0.5s;
}

#moreins:hover {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}



#moreins:active {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}

#clr {
    background-color: transparent;
    color: grey;
    border: 1px solid linen;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    transition: all 0.5s;
}

#clr:hover {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}


#clr:active {

    border-color: #58d2ff;
    box-shadow: 0 0 0 3px rgb(81 88 168 / 25%);
    transition: all 0.5s;
}

.vbtn {
    background: transparent;
    color: transparent;
    width: fit-content;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 16px;
    border: 0;
    background: white;
    cursor: pointer;
}

#volumeChange {
    display: none;
}

#laughGif {
    transition: all 0.5s;
}
.laughGif-not-triggered
{
    display: none;
    transition: all 0.5s;
}
.laughGif-triggered {
    display: block;
    transition: all 0.5s;
}
.gifDiv
{
    display: flex;
    justify-content: center;
}